body {
  min-height: 100vh;
  /*width: 100%;*/
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.first-section { /* .header .container*/
  margin: 0;
  padding: 0 15% 10%;
  background-color: #1F2937;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-section .header { /* .logo .links-ul */
  /*margin-top: 16px;*/
  padding-top: 8px;
  padding-bottom: 100px;
  height: 52px;
  font-size: 24px;
  color: #F9FAF8;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.first-section .container { /* .content img */
  flex: auto;
  display: flex;
  align-items: center;
  gap: 52px;
}

.first-section .content {
  display: flex;
  flex-flow: column wrap;  
}

.first-section .title {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  width: 520px;
}

.first-section .text,
li {
  font-size: 18px;
  color: #E5E7EB;
  margin-bottom: 16px;
}

.first-section button {
  border: 1px solid royalblue;
}

img {
  width: 600px;
  flex-shrink: 0;
}

.second-section {
  margin: 4% 8% 6%;
  text-align: center;
}

.second-section .title {
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  margin-bottom: 32px;
}

.second-section .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 52px;
}

.second-section img {
  width: 100px;
  height: 100px;
}

.info {
  max-width: 200px;
}

.third-section {
  background-color: #E5E7EB;
}

.third-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8%;
}

.third-section .text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
  max-width: 930px;
  text-align: left;
}

.third-section .quoter {
  align-self: flex-end;
  font-weight: bold;
  margin-right: 15%;
  font-size: 21px;
}

.fourth-section {
  flex: auto;
  display: flex;
}

.footer {
  background-color: #1F2937;
  color: white;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  background: #3882F6;
  color: white;
  max-width: 8em;
  font-size: large;
  font-weight: 900;
}